<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.harichselvamc.seetime.camera_feature">

    <dist:module
        dist:fusing="true"
        dist:instant="false">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:module-config>
            <dist:title>@string/title_camera_feature</dist:title>
        </dist:module-config>
    </dist:module>

    <application>
        <!-- Activity declarations specific to this feature module -->
    </application>
</manifest>